body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.cuadrado {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid black;
    cursor: pointer;
}
#cuadrado1{
    background-color: #f08080;
}
#cuadrado2{
    background-color: #20b2aa;
}
#cuadrado3{
    background-color: #7cfc00;
}